{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Crear Compañia{% endblock %}

{% block page_title %}Crear Compañia{% endblock %}

{% block content %}
<div class="container mt-4 d-flex justify-content-center py-5">
    <div class="card shadow-lg rounded-3 border-0 w-100" style="max-width: 600px;">
            <div class="card-header text-center">
                <h4 class="mb-0"><i class="bi bi-building-fill-add"></i> Crear Compañia</h4>
            <form method="post" class="card-body p-3">
                {% csrf_token %}
                <div class="row mb-3 align-items-center">
                    <div class="col-md-4 text-end">
                        <label for="name" class="form-label">Nombre:</label>
                    </div>
                    <div class="col-md-5">
                      {{ form.name }}
                    </div>
                </div>
                <div class="row mb-3 align-items-center">
                    <div class="col-md-4 text-end">
                        <label for="short_name" class="form-label">Nombre corto:</label>
                    </div>
                    <div class="col-md-5">
                        {{ form.short_name }}
                    </div>
                </div>
                <div class="row mb-3 align-items-center">
                    <div class="col-md-4 text-end">
                        <label for="address" class="form-label">Direccion:</label>
                    </div>
                    <div class="col-md-5">
                        {{ form.address }}
                    </div>
                </div>
                <div class="row mb-3 align-items-center">
                    <div class="col-md-4 text-end">
                        <label for="email" class="form-label">Correo:</label>
                    </div>
                    <div class="col-md-5">
                        {{ form.email }}
                    </div>
                </div>
                <div class="row mb-3 align-items-center">
                    <div class="col-md-12">
                        <a href="{% url 'company_list' %}">
                            <button type="button" class="btn btn-secondary">Regresar</button>
                        </a>
                        <button type="submit" class="btn btn-primary">Crear</button>
                    </div>
                </div>
            </form>
    </div>
</div>
{% endblock %}
