{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Asignar Constraseña{% endblock %}

{% block page_title %}Asignar Constraseña{% endblock %}

{% block content %}
<div class="container mt-4 d-flex justify-content-center py-5">
    <div class="card shadow-lg rounded-3 border-0 w-100" style="max-width: 800px;">
            <div class="card-header text-center">
                <h4 class="mb-0"><i class="bi bi-person-fill-add"></i> Asignar Constraseña</h4>
            <form method="post" class="card-body p-3">
                {% csrf_token %}
                <div class="row col-md-12 mb-3">
                    <div class="col-md-5 text-end">
                        <label for="new_password1" class="form-label">Constraseña:</label>
                    </div>
                    <div class="col-md-5">
                        {{ form.new_password1 }}
                    </div>
                </div>
                <div class="row col-md-12 mb-3 align-items-center">
                    <div class="col-md-5 text-end">
                        <label for="new_password2" class="form-label">Confirmar Constraseña:</label>
                    </div>
                    <div class="col-md-5">
                        {{ form.new_password2 }}
                    </div>
                </div>
                
                <div class="row mb-3 align-items-center">
                    <div class="col-md-12">
                        <a href="{% url 'company_list' %}">
                            <button type="button" class="btn btn-secondary">Regresar</button>
                        </a>
                        {% if change %}
                            <button type="submit" class="btn btn-primary">Actualizar</button>
                        {% else %}
                            <button type="submit" class="btn btn-primary">Crear</button>
                        {% endif %}
                    </div>
                </div>
            </form>
    </div>
</div>
{% endblock %}
